body {
  padding: 50px;
  font: 14px "roboto", Helvetica, Arial, sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

audio {
  display: block;
}

#cursor {
  position: absolute;
  height: 22px;
  width: 22px;
  left: 0;
  top: 0;
}

#editor {
  margin: 0;
  width: 500px;
  height: 500px;
}

.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 60px auto 35px;
  grid-template-areas:
  "header header header header"
  "main main main main"
  "footer footer footer footer";
  height: 100vh;
}

.header {
  background-color: white;
  box-shadow: rgba(105, 105, 105, 0.582) 0 4px 6px;
  grid-area: header;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-area: footer;
  background-color: lightgrey;
}

.card {
  padding: 2rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  box-shadow: rgba(105, 105, 105, 0.582) 0 4px 8px;
}

.card__header {

}

pre#editor {
  border-radius: 4px;
}